<div class="row">
  <div class="col-lg-2 col-sm-1"></div>
  <div class="col-lg-4 col-sm-5 col-xs-12">
    <div class="page-header">
      <h2>Team Settings</h2>
    </div>

    <% if @team.scout_schema.nil? %>
      <p><em>Your team has not selected a scouting schematic.</em></p>
      <% # TODO actually allow browsing schematics %>
      <p>Use the form below to quickly search for a scouting schematic, or <%= link_to 'click here', '/' %> to browse schematics in detail.</p>
    <% else %>
      <p><em>Your team is using the <%= @team.scout_schema.name %> scouting schematic.</em></p>
      <p>You can review its parameters by <%= link_to 'clicking here', '/' %>.</p>
      <% # TODO actually allow browsing schematics %>
      <p>Use the form below to quickly search for another scouting schematic, or <%= link_to 'click here', '/' %> to browse schematics in detail.</p>
    <% end %>

    <%= form_tag({controller: :schematics, action: :update}, method: :patch, class: 'form-inline') do %>
      <div class="form-group">
        <%= label_tag :schema, "Schematic Name" %>
        <%= text_field_tag :schema, '', list: "schemas", class: "form-control" %>
        <datalist id="schemas">
          <% ScoutSchema.all.each do |schema| %>
            <option value="<%= schema.name %>"></option>
          <% end %>
        </datalist>
      </div>
      <%= hidden_field_tag :team, @team.id %>
      <%= submit_tag "Select Schema", class: "btn btn-default" %>
    <% end %>

    <hr>

    <% if @team.event.nil? %>
      <p><em>Your team has not selected the event they will be attending.</em></p>
      <% # TODO actually allow browsing events %>
      <p>Use the form below to quickly search for an event, or <%= link_to 'click here', '/' %> to browse events in detail.</p>
    <% else %>
      <p><em>Your team has selected the event they will be attending the <%= @team.event.name %>.</em></p>
      <% # TODO actually allow browsing events %>
      <p>Use the form below to quickly search for another event, or <%= link_to 'click here', '/' %> to browse events in detail.</p>
    <% end %>
    <p>
      <%= form_tag({controller: :events, action: :update}, method: :patch, class: 'form-inline') do %>
        <div class="form-group">
          <%= label_tag :event, "Event Name" %>
          <%= text_field_tag :event, '', list: "events", class: "form-control" %>
          <datalist id="events">
            <% Event.all.each do |event| %>
              <option value="<%= event.name %> (<%= event.key %>)"></option>
            <% end %>
          </datalist>
        </div>
        <%= submit_tag "Select Event", class: "btn btn-default" %>
      <% end %>
    </p>

    <% if !@team.event.nil? %>
      <% if @team.pit_data.where(event_id: @team.event.id).count == 0 %>
        <p>You must import the teams participating in your event into the database in order to scout. Use the button below to do this.</p>
        <p><%= link_to 'Import Teams', team_import_pits_path, method: :post, class: 'btn btn-primary' %></p>
      <% else %>
        <p>You can use the button below to refresh the teams attending your event.</p>
        <p><%= link_to 'Update Teams', team_import_pits_path, method: :post, class: 'btn btn-info' %></p>
      <% end %>

      <% if @matches.empty? %>
        <p>A match list for your event is not yet available. Please check back later.</p>
      <% else %>
        <% if @team.match_data.where(event_id: @team.event.id).count == 0 %>
        <p>You must import match data for your event.</p>
        <p><%= link_to 'Import Matches', team_import_matches_path, method: :post, class: 'btn btn-primary' %></p>
      <% else %>
        <p>You can use the button below to refresh match data for your event.</p>
        <p><%= link_to 'Update Matches', team_import_matches_path, method: :post, class: 'btn btn-info' %></p>
      <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="col-lg-4 col-sm-5 col-xs-12">
    <div class="page-header">
      <h2>Team Members</h2>
    </div>

    <p><em>There <%= "#{@team.unconfirmed_members.count == 1 ? 'is' : 'are'}" %> <%= pluralize(@team.unconfirmed_members.count, 'member') %> pending confirmation.</em></p>
    <% if @team.unconfirmed_members.count != 0 %>
      <table class="table table-condensed">
        <thead>
          <tr><th colspan="3"><center>Unconfirmed Members</center></th></tr>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @page_unconfirmed.each do |reg| %>
            <tr>
              <td>
                <a tabindex="0" role="button" data-trigger="focus" data-toggle="popover" title="User Information" data-content="Email: <%= reg.user.email %>" data-placement="bottom">
                  <%= reg.user.first_name + ' ' + reg.user.last_name %>
                </a>
              </td>
              <td>
                <div class="btn-group">
                  <%= link_to 'Confirm', team_registrations_confirm_path(reg), class: 'btn btn-xs btn-primary' %>
                  <%= link_to 'Deny', team_registrations_deny_path(reg), class: 'btn btn-xs btn-warning' %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @page_unconfirmed, param_name: :pageu, window: 2 %>
    <% end %>
    <p><em>There <%= "#{@team.confirmed_members.count == 1 ? 'is' : 'are'}" %> currently <%= pluralize(@team.confirmed_members.count, 'confirmed member') %> on the team.</em></p>

    <% if @team.confirmed_members.count != 0 %>
      <table class="table table-condensed">
        <thead>
          <tr><th colspan="3"><center>Current Members</center></th></tr>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @page_confirmed.each do |reg| %>
            <tr>
              <td>
                <a tabindex="0" role="button" data-trigger="focus" data-toggle="popover" title="User Information" data-content="Email: <%= reg.user.email %> Confirmed: <%= reg.user.confirmed_at.strftime('%l:%M %p %b %e %Y') %> Status: <%= reg.user.is_team_manager ? 'Manager' : 'Member' %>" data-placement="bottom">
                  <%= reg.user.first_name + ' ' + reg.user.last_name %>
                </a>
              </td>
              <td>
                <div class="btn-group">
                  <% if reg.user.is_team_manager %>
                    <%= link_to 'Demote', team_registrations_demote_path(reg), class: 'btn btn-xs btn-info' %>
                  <% else %>
                    <%= link_to 'Promote', team_registrations_promote_path(reg), class: 'btn btn-xs btn-info' %>
                  <% end %>
                  <%= link_to 'Remove', team_registrations_remove_path(reg), class: 'btn btn-xs btn-danger' %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @page_confirmed, param_name: :pagec, window: 2 %>
    <% end %>
  </div>
  <div class="col-lg-2 col-sm-1"></div>
</div>
<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>
